<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Home</title>
</head>
<body class="lift:content_id=main">
<div id="main" class="lift:surround?with=default;at=content">
  <script type="application/javascript">
    var app = angular.module("MyApp", ["ngResource"]);
    app.factory("numbersSvc", function($resource) {
      return $resource(null, null, {
        get : {method: "GET", url: "/api/numbers"},
        next: {method: "GET", url: "/api/numbers/next"}
      })
    });
    app.controller("MyCtrl", ["$scope", "$interval", "numbersSvc", function ($scope, $interval, numbersSvc) {
      $scope.numbers = {};

      $scope.nextNumbers = function() {
        numbersSvc.next();
      };

      $interval(function() {
        numbersSvc.get(function (newNumbers) {
          if (newNumbers.uuid != $scope.numbers.uuid) {
            $scope.numbers = newNumbers;
          }
        });
      }, 2000);
    }]);
  </script>
  <div id="list" ng-app="MyApp" ng-controller="MyCtrl">
    <button ng-click="nextNumbers()">Next</button>
    <ul>
      <li ng-repeat="number in numbers.values track by $index">{{number}}</li>
    </ul>
  </div>
</div>
</body>
</html>